{% extends 'base.html.twig' %}

{% block title %}About (proj){% endblock %}

{% block body %}
    <br>
    <h2>
        Hållbar utveckling
    </h2>
    <nav>
        <div class="routes">
            <a href="{{ path('proj_api') }}">API (proj)</a>
            <a href="{{ path('proj_about') }}">About (proj)</a>
        </div>
    </nav>
    <p>
        hej
    </p>

{% endblock %}


