{% extends 'base.html.twig' %}

{% block title %}About (proj){% endblock %}

{% block body %}
<br>
<hr>
<nav>
    <div class="routes">
        <a href="{{ path('proj_api') }}">API (proj)</a>
        <a href="{{ path('proj_about') }}">About (proj)</a>
    </div>
</nav>
<h2>
    Hållbar utveckling (About)
</h2>
    <p>
        Fliken "proj" är slutexamination för första läsåret på Webbprogrammering, distans, 120hp
        på BTH. Projektet består av två informativa småanalyser som visar upp statistik för
        två olika delmål inom FNs Agenda 2030(globala mål för "Hållbar utveckling). Ämnen
        som redovisas tillhör mål nummer 3, "God hälsa och välbefinnande" samt mål nummer
        elva, "Hållbara städer och samhällen". Statistiken är främst hämtad från SCB men
        citat och fakta från andra källor förekommer också. Samtliga finns refererade
        med länkar där de används. Ytterligare information finns angiven i inledningen
        under fliken "Project"(/proj).
    </p>
<h3>
    Teknik
</h3>
    <p>
        Hela webbplatsen är skapad med ramverket Symfony och använder objektorienterad PHP. För
        att lagra statistik i tabeller används med fördel någon typ av databas. För att slippa
        involvera och skriva SQL från grunden har vi fått lära oss att använda ORM och Doctrine.
        Det är program som kort sagt gör det möjligt att skapa, manipulera och skriva ut innehåll
        från en databas trots att, i det här fallet, endast språket PHP används. Detta sparar tid
        och som användare behöver man inte ha stor kännskap med databas-språket SQL. Med hjälp
        av Doctrine kan man sedan lägga in sina tabeller och kolumner. Därefter skapas varje tabell
        som en klass med tillhörande autogenererade metoder. Dessa gör det möjligt att skapa,
        radera, uppdatera och hämta information från databasen.
    </p>
    <p>
        För att rita ut diagrammen har en modul som heter "Chart.js" används. Modulen
        är alltså egentligen anpassad för JavaScript men finns även i en version som
        går att använda i Symfony. Likt ORM/Doctrine är fördelen även här att man inte
        behöver kunna något annat språk än PHP. Modulen låter oss använda PHP för att sätta
        färger, form och typ för diagrammen.
    </p>

{% endblock %}


