{% extends "base.html.twig" %}

{% block title %}Shuffle{% endblock %}

{% block body %}
    <br>
    <br>
    <h2>
        N채r du klickar p책 "shuffle" i menyn s책 blandas kortleken.
        Du kan ocks책 uppdatera sidan.
    </h2>
    <div class="card">
        <p>{{ newDeck }}</p>
    </div>
{% endblock %}
