{% extends 'base.html.twig' %}

{% block title %}Create{% endblock %}

{% block body %}
    <br>
    <br>
    <h2>
        Här är create.
    </h2>
    <br>
    <form method="post" action="{{ path('post_create') }}">
        <p>
            <label for="title">Titel</label>
            <input type="text" id="title" name="title" placeholder="Ange titel">
        </p>
        <p>
            <label for="isbn">ISBN</label>
            <input type="number" id="isbn" name="isbn" placeholder="Fyll i ISBN">
        </p>
        <p>
            <label for="author">Författare</label>
            <input type="text" id="author" name="author" placeholder="Ange författare">
        </p>
        <br>
        <p>
            <input type="submit" value="Slutför">
        </p>
    </form>
<br>

{% endblock %}
