{% extends 'base.html.twig' %}

{% block title %}Library{% endblock %}

{% block body %}
    <br>
    <br>
    <h2>
        Välkommen till samlingssidan för biblioteket!
    </h2>
    <p>
        Klicka på någon av knapparna för att komma vidare.
    </p>
    <br>
        <form action="{{ path('book_create') }}">
            <p>
                <input type="submit" value="Lägg till bok">
            </p>
        </form>
        <form action="{{ path('book_show_all') }}">
            <p>
                <input type="submit" value="Visa böcker">
            </p>
        </form>
    <br>

{% endblock %}
